:host {
  --primary-color: #f5df66;
  --primary-hover-color: #f5d146;
  --secondary-color: #eaecf2;
  --secondary-hover-color: #d3d6e0;
  --disabled-color: #fdf1a4;
  --button-text-color: #0f1f54;
}

.button {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  transition: background-color 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 1.5rem 3rem;
  font-size: 16px;
  color: var(--primary-text-color);
}

.button.primary-button {
  background-color: var(--primary-color);
}

.button.primary-button:hover {
  background-color: var(--primary-hover-color);
}

.button.primary-button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.button.secondary-button {
  background-color: var(--secondary-color);
}

.button.secondary-button:hover {
  background-color: var(--secondary-hover-color);
}

.button .spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
