:host {
  display: block;
  padding: 2rem 1.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  width: 100%;
  background-color: var(--white);
  position: relative;
  overflow-x: auto;
}

.table-container .table {
  border-collapse: collapse;
}

.table .table-header {
  background-color: var(--brand-secondary);
}

.table .table-cell {
  padding: 1rem 2rem;
  font-weight: 700;
}

.table-cell.left {
  text-align: left;
}

.table-cell.right {
  text-align: right;
}

.table-cell.center {
  text-align: center;
}

.table .table-row {
  border-bottom: 1px solid #f0f0f0;
}

.table-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.select-page {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.table-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.table-navigation .prev-button,
.table-navigation .next-button {
  background-color: var(--brand-secondary);
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--brand-secondary);
  cursor: pointer;
}

.table .skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  width: 100%;
}

.table .skeleton-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.table .skeleton-text {
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.table .skeleton-actions {
  height: 20px;
  width: 60px;
}
