<div class="container">
  <app-product-edit-form
    [title]="title"
    [disabled]="loading"
    [loading]="loading"
    [loadingSave]="loadingSave"
    [product]="product"
    (save)="handleSaveProduct($event)"
    [codeValidator]="codeValidator"
  ></app-product-edit-form>
</div>

<app-alert
  [open]="!!error"
  (openChange)="error = null"
  title="Error"
  message="No se pudo cargar el producto"
></app-alert>


<app-alert
  [open]="!!errorSave"
  (openChange)="errorSave = null"
  title="Error"
  message="No se pudo guardar el producto"  
></app-alert>

