<h1>Productos</h1>

<div class="product-bar">
  <input
    class="search"
    type="text"
    [ngModel]="search"
    (ngModelChange)="handleSearchChange($event)"
    placeholder="Nombre del producto"
  />
  <app-button class="add-button" (click)="addProduct()">Agregar</app-button>
</div>

<app-product-confirm-delete-dialog
  *ngIf="productToDelete"
  [product]="productToDelete"
  [(open)]="openDialog"
  [loading]="loadingDelete"
  (reject)="cancelDelete()"
  (confirm)="confirmDelete(productToDelete)"
></app-product-confirm-delete-dialog>

<app-alert
  [open]="!!deleteError"
  (openChange)="deleteError = null"
  title="Error"
  message="No se pudo eliminar el producto"
/>

<app-product-table
  class="product-table"
  [products]="filteredProducts"
  (delete)="deleteProduct($event)"
  (edit)="editProduct($event)"
  [loading]="loading"
>
  <p *ngIf="error" no-data>
    Error al cargar los productos
    <button (click)="loadProducts()">Reintentar</button>
  </p>
  <div *ngIf="!loading" no-data>
    <div *ngIf="!products.length">No hay productos</div>
    <div *ngIf="products.length && !filteredProducts.length">
      No hay productos que coincidan con la búsqueda
    </div>
  </div>
</app-product-table>
