.product-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  border-bottom: 1px solid #e0e0e0;
}

.product-bar .search {
  padding: 1rem 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.product-bar .search:focus {
  outline: none;
}

.product-bar .search::placeholder {
  color: #e0e0e0;
}
