<app-dialog [(open)]="open" class="confirm-delete-dialog">
  <ng-container header>
    <h2>Atención</h2>
  </ng-container>
  <ng-container>
    <p>¿Estás seguro de que deseas eliminar el producto {{ product.name }}?</p>
  </ng-container>
  <ng-container actions>
    <app-button
      (click)="handleReject()"
      class="reject-button"
      variant="secondary"
      >Cancelar</app-button
    >
    <app-button
      class="confirm-button"
      (click)="handleConfirm()"
      variant="primary"
      >Confirmar</app-button
    >
  </ng-container>
</app-dialog>
